/* Styles for Header.js */

.home-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1450px;
	padding: 30px 0px;
	background: rgba(13, 19, 33, 0.8);
	position: sticky;
	top: 0px;
	z-index: 1;
}

.home-header .header-left{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
}

.home-header img{
	cursor: pointer;
}

.home-header .title-left{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 300px;
}
.home-header .title-left h1{
	padding: 5px 10px 5px 10px;
	margin: 0px;
	border-radius: 20px;
	color: white;
}
.home-header .title-left h1:hover{
	background: rgb(22, 30, 49);
	cursor: pointer;
	transition: 0.4s;
}

.home-header .title-center{
	width: 600px;
}
.home-header .title-center h1{
	display: none;
}

.home-header .header-right{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 30%;
	position: relative;
}

.home-header .header-right .link-card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 240px;
	/*margin-right: 20%;*/
	margin-top: 0px;
	border: 2px solid rgb(29, 43, 73);
	border-radius: 30px;
	cursor: pointer;
}

.home-header .header-right .link-card:hover{
	background: rgb(29, 43, 73);
}

.home-header .header-right .fix-pos{
	margin-top: 84px;
	position: absolute;
	background: rgb(13, 19, 33);
}

.home-header .header-right .fix-pos:hover{
	background: rgb(13, 19, 33);
}

.home-header .link-card .link-card-header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 88%;
	padding: 8px 15px;
	gap: 0px 20px;
	border-radius: 30px;
}
.home-header .link-card .fix-style{
	border-radius: 27px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.home-header .link-card .link-card-header:hover{
	background: rgb(29, 43, 73);
}

.home-header .header-right .link-card img{
	border-radius: 50%;
}

.home-header .header-right .link-card .user-detail{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: white;
}
.home-header .header-right .link-card .user-detail p{
	margin: 0px;
	word-break: break-all;
}

.home-header .header-right .link-card .user-detail .display-name{
	font-weight: bold;
	font-size: 16px;
}

.home-header .header-right .link-card .user-detail .username{
	font-size: 14px;
	color: rgb(189, 189, 189);
}

.home-header .header-right .link-card .dialog-box{
	display: flex;
	flex-direction: column;
	width: 100%;
	border-top: 2px solid rgb(29, 43, 73);	
	color: white;
}
.home-header .header-right .link-card .close{
	display: none;
}

.home-header .header-right .link-card .dialog-box .dialog-list-item{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0px 10px;
	padding: 10px 15px;
}

.home-header .header-right .link-card .dialog-box .dialog-list-item:hover{
	background: rgb(29, 43, 73);
}
.home-header .header-right .link-card .dialog-box .dialog-list-item p{
	margin: 0px;
}
.home-header .header-right .link-card .dialog-box .dialog-list-item p:hover{
	color:
}

.home-header .header-right .link-card .dialog-box .log-out{
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
	border-radius: 27px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	color: red;
}

@media screen and (max-width: 1300px){
	.home-header{
		width: 100%;
	}

	.home-header .title-left{
		width: 180px;
	}
	.home-header .header-right{
		justify-content: center;
	}
}

@media screen and (max-width: 1000px) {
	.home-header{
		padding: 10px 0px;
		width: 100%;
		position: sticky;
		top: 0px;
		z-index: 1;
		background: rgba(13, 19, 33, 0.9);
	}

	.home-header .header-left{
		justify-content: flex-end;
	}

	.home-header .title-left{
		display: none;
	}

	.home-header .title-center{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 600px;
	}
	.home-header .title-center h1{
		display: flex;
		padding: 5px 10px 5px 10px;
		margin: 0px;
		border-radius: 20px;
		color: white;
	}

	.home-header .title-center h1:hover{
		background: rgb(22, 30, 49);
		cursor: pointer;
		transition: 0.4s;
	}

	.home-header .header-right .link-card{
		width: auto;
		border: none;
	}

	.home-header .header-right .fix-pos{
		margin-top: 0px;
	}

	.home-header .link-card .link-card-header{
		padding: 0px;
	}
	.home .home-header .link-card .fix-style{
		border-radius: 30px;
		padding: 0px;
	}

	.home-header .header-right .link-card .user-detail{
		display: none;
	}
	.home-header .header-right .link-card .more{
		display: none;
	}
	.home-header .header-right .link-card .dialog-box{
		display: none;
	}
}