/* Styles for Blurt.js */
.home .header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 550px;
}

.home .header .title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%
}

.home .header img{
	cursor: pointer;
}

.home .blurt-page-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}
.home .blurt-container-center{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0px 0px;
	width: 550px;
	border: 3px solid rgb(56, 68, 77);
}

.blurt-container{
	width: 100%;
}

.blurt-container .blurt-card{
	border-top: none;
	padding: 15px 12px 15px 12px;
}

.blurt-container .blurt-card .blurt-body .blurt-content p{
	font-size: 22px;
}

.post-comment-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px 10px;
	width: 80%;
}

.comments-container{
	display: flex;
	flex-direction: column;
	color: white;
	width: 100%
}

@media screen and (max-width: 600px)  {
	.home .header{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%
	}

	.home .blurt-container-center{
	    display: flex;
	    flex-direction: column;
	    gap: 0px 0px;
	    width: 100%;
	    border-left: none;
	    border-right: none;
	}
}
