/* Styles for HomePage.js */
.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: rgb(13, 19, 33);
}

.home .home-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

.container-left{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
}

.home .home-container-center{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px 0px;
	width: 550px;
	padding-top: 20px;
	border: 3px solid rgb(56, 68, 77);
}

.container-right{
	width: 30%
}

@media screen and (max-width: 600px)  {
	.home .home-container-center{
	    display: flex;
	    flex-direction: column;
	    gap: 20px 0px;
	    width: 100%;
	    border-left: none;
	    border-right: none;
	}
	
}

@media screen and (max-width: 850px){
	.container-left{
		display: none;
	}
	.container-right{
		display: none;
	}
}
