/* Styles for HomePage.js */
.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: rgb(13, 19, 33);
}

.home .home-header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 120px;
}

.home .home-header .header-left{
	width: 100%;
}

.home .home-header img{
	cursor: pointer;
}

.home .home-header .title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 550px;
}
.home .home-header .title h1{
	padding: 5px 10px 5px 10px;
	margin: 0px;
	border-radius: 20px;
	color: white;
}

.home .home-header .title h1:hover{
	background: rgb(22, 30, 49);
	cursor: pointer;
	transition: 0.4s;
}

.home .home-header .header-right{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.home .home-header .header-right .link-card{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 0px 20px;
	width: fit-content;
	padding: 8px 15px;
	margin-right: 15%;
	border: 2px solid rgb(29, 43, 73);
	border-radius: 30px;
	cursor: pointer;
}

.home .home-header .header-right .link-card:hover{
	background: rgb(29, 43, 73);
}

.home .home-header .header-right .link-card img{
	border-radius: 50%;
}

.home .home-header .header-right .link-card .user-detail{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: white;
}
.home .home-header .header-right .link-card .user-detail p{
	margin: 0px;
}

.home .home-header .header-right .link-card .user-detail .display-name{
	font-weight: bold;
	font-size: 16px;
}

.home .home-header .header-right .link-card .user-detail .username{
	font-size: 14px;
	color: rgb(189, 189, 189);
}

.home .home-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}
.home .home-container-center{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px 0px;
	width: 550px;
	padding-top: 20px;
	border: 3px solid rgb(56, 68, 77);
}

@media screen and (max-width: 600px)  {
	.home .home-container-center{
	    display: flex;
	    flex-direction: column;
	    gap: 20px 0px;
	    width: 100%;
	    border-left: none;
	    border-right: none;
	}
}

@media screen and (max-width: 1100px) {
	.home .home-header .header-right .link-card{
		padding: 15px 15px;
		border: none;
	}
	.home .home-header .header-right .link-card .user-detail{
		display: none;
	}
	.home .home-header .header-right .link-card .more{
		display: none;
	}
}