/* Styles for HomePage.js */
.home-container{
	display: flex;
    flex-direction: column;
    gap: 20px 0px;
    width: 550px
}

@media screen and (max-width: 600px)  {
    .home-container{
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
        width: 90%
    }
}