[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
python-dotenv = "*"
whitenoise = "*"
djangorestframework = "*"
requests = "*"
djangorestframework-simplejwt = "*"
django-storages = "*"
boto3 = "*"
pillow = "*"
django-environ = "*"
gunicorn = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
