/* Styles for HomePage.js */
.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: rgb(13, 19, 33);
}

.home .home-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}

.container-left{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
	max-width: 400px;
}

.home .home-container-center{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px 0px;
	width: 550px;
	height: fit-content;
	padding-top: 20px;
	border: 3px solid rgb(56, 68, 77);
	z-index: 1;
}

.container-right{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 30%;
	max-width: 400px;
}

.container-right .container-right-search{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	max-width: 500px;
	position: sticky;
	top: 123px;
}

@media screen and (min-width: 1000px)  {
	.home .home-container-center{
	    margin-top: -120px;
	}
}

@media screen and (max-width: 600px)  {
	.home .home-container-center{
	    display: flex;
	    flex-direction: column;
	    gap: 20px 0px;
	    width: 100%;
	    border-left: none;
	    border-right: none;
	}
}

@media screen and (max-width: 1000px){
	.container-left{
		display: none;
	}
	.home .home-container-center{
	    z-index: 0;
	}
	.container-right{
		display: none;
	}
}
