/* Styles for Header.js */
.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: rgb(13, 19, 33);
}

.home .home-header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 90%;
	padding: 30px 0px;
}

.home .home-header .header-left{
	width: 30%;
}

.home .home-header img{
	cursor: pointer;
}

.home .home-header .title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 700px;
}
.home .home-header .title h1{
	padding: 5px 10px 5px 10px;
	margin: 0px;
	border-radius: 20px;
	color: white;
}

.home .home-header .title h1:hover{
	background: rgb(22, 30, 49);
	cursor: pointer;
	transition: 0.4s;
}

.home .home-header .header-right{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
	position: relative;
}

.home .home-header .header-right .link-card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 240px;
	/*margin-right: 20%;*/
	margin-top: 0px;
	border: 2px solid rgb(29, 43, 73);
	border-radius: 30px;
	cursor: pointer;
}

.home .home-header .header-right .link-card:hover{
	background: rgb(29, 43, 73);
}

.home .home-header .header-right .fix-pos{
	margin-top: 84px;
	position: absolute;
	background: rgb(13, 19, 33);
}

.home .home-header .header-right .fix-pos:hover{
	background: rgb(13, 19, 33);
}

.home .home-header .link-card .link-card-header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 88%;
	padding: 8px 15px;
	gap: 0px 20px;
	border-radius: 30px;
}
.home .home-header .link-card .fix-style{
	border-radius: 27px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.home .home-header .link-card .link-card-header:hover{
	background: rgb(29, 43, 73);
}

.home .home-header .header-right .link-card img{
	border-radius: 50%;
}

.home .home-header .header-right .link-card .user-detail{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: white;
}
.home .home-header .header-right .link-card .user-detail p{
	margin: 0px;
	word-break: break-all;
}

.home .home-header .header-right .link-card .user-detail .display-name{
	font-weight: bold;
	font-size: 16px;
}

.home .home-header .header-right .link-card .user-detail .username{
	font-size: 14px;
	color: rgb(189, 189, 189);
}

.home .home-header .header-right .link-card .dialog-box{
	display: flex;
	flex-direction: column;
	width: 100%;
	border-top: 2px solid rgb(29, 43, 73);	
	color: white;
}
.home .home-header .header-right .link-card .close{
	display: none;
}

.home .home-header .header-right .link-card .dialog-box .dialog-list-item{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0px 10px;
	padding: 10px 15px;
}

.home .home-header .header-right .link-card .dialog-box .dialog-list-item:hover{
	background: rgb(29, 43, 73);
}

.home .home-header .header-right .link-card .dialog-box .dialog-list-item p{
	margin: 0px;
}
.home .home-header .header-right .link-card .dialog-box .dialog-list-item p:hover{
	color:
}

.home .home-header .header-right .link-card .dialog-box .log-out{
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
	border-radius: 27px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	color: red;
}

.home .home-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}
.home .home-container-center{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px 0px;
	width: 550px;
	padding-top: 20px;
	border: 3px solid rgb(56, 68, 77);
}

@media screen and (max-width: 600px)  {
	.home .home-container-center{
	    display: flex;
	    flex-direction: column;
	    gap: 20px 0px;
	    width: 100%;
	    border-left: none;
	    border-right: none;
	}
}

@media screen and (max-width: 1300px){
	.home .home-header{
		width: 95%;
	}

	.home .home-header .title{
		width: 330px;
	}
	.home .home-header .header-right{
		justify-content: center;
	}
}

@media screen and (max-width: 850px) {
	.home .home-header{
		padding: 10px 0px;
		width: 95%;
	}
	.home .home-header .header-right .link-card{
		width: auto;
		border: none;
	}

	.home .home-header .header-right .fix-pos{
		margin-top: 0px;
	}

	.home .home-header .link-card .link-card-header{
		padding: 8px;
	}
	.home .home-header .link-card .fix-style{
		border-radius: 30px;
		padding: 8px;
	}

	.home .home-header .header-right .link-card .user-detail{
		display: none;
	}
	.home .home-header .header-right .link-card .more{
		display: none;
	}
	.home .home-header .header-right .link-card .dialog-box{
		display: none;
	}
}