/* Styles for MobileNav.js */

.mobile-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	padding: 10px 0px;
	background: rgb(13, 19, 33);
	position: sticky;
	bottom: 0px;
	z-index: 1;
}

.mobile-nav .nav-item{
	cursor: pointer;
}

@media screen and (min-width: 850px){
	.mobile-nav{
		display: none;
	}
}
