/* Styles for Search.js */

.search-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 90%;
	max-width: 400px;
	gap: 30px 0px;
	margin: auto;
}

.search-container .search-bar{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 85%;
	max-width: 290px;
	margin: auto;
	padding: 7px 10px;
	border: 2px solid rgb(51, 51, 51);
	border-radius: 20px;
	background: rgb(51, 51, 51);
}

.search-container .search-bar:hover{
	background: rgb(13, 19, 33);
	border: 2px solid rgb(29, 43, 73);
	padding: 7px 10px;
}
.search-container .active{
	background: rgb(13, 19, 33);
	border: 2px solid rgb(29, 43, 73);
	padding: 7px 10px;
}

.search-container .search-bar .search-options{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 0px 20px;
	align-items: center;
	padding: 10px 10px 5px 10px;
}

.search-container .search-bar .search-options img{
	padding: 5px;
	border-radius: 50%;
}

.search-container .search-bar .search-options .active-img{
	background:  rgb(51, 51, 51);
}

.search-container .search-bar .search-options img:hover{
	background:  rgb(51, 51, 51);
}

.search-container .search-bar .search-bar-input{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0px 5%;
}

.search-container .search-bar .search-bar-input input{
	width: 90%;
	max-width: 250px;
	height: 20px;
	font-size: 18px;
	background: none;
	border: none;
	outline: none;
}
.search-container .search-bar .search-bar-input input:focus{
	color: white;
}

.search-container .search-results-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 90%;
	margin: auto;
	background: rgb(13, 19, 33);
	border: 2px solid rgb(29, 43, 73);
	border-radius: 20px;
}

.search-container .search-results-container .search-results-card{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0px 6%;
	padding: 15px 20px;
	width: 100%;
	height: auto;
	max-height: 500px;
	box-sizing: border-box;
	border-radius: 20px;
	cursor: pointer;
}

.search-container .search-results-container .search-results-card:hover{
	background-color: rgb(37, 42, 55);
}

.search-container .search-results-container .search-results-card img{
	border-radius: 50%;
}

.search-container .search-results-container .search-results-card .user-detail{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px 0px;
	max-width: 80%;
}

.search-container .search-results-container p{
	margin: 0px;
	color: white;
	word-break: break-all;
}

.search-container .search-results-container .username{
	font-size: 16px;
	font-weight: bold;
}

.search-container .search-results-container .display-name{
	font-size: 14px;
}

.search-container .search-results-container .search-error{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 0px;
	width: 100%
}

.search-container .search-results-container .search-error p{
	font-size: 18px;
	font-weight: bold;
}