/* Styles for BlurtCard.js */
.blurt-card{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 0px 10px;
	padding: 10px 12px 10px 12px;
	border-top: 2px solid rgb(56, 68, 77);
	border-bottom: 2px solid rgb(56, 68, 77);
	color: white;
	width: auto;
}

.blurt-card:hover{
	background-color: rgb(37, 42, 55);
	cursor: pointer;
	transition: 0.4s;
}

.blurt-card .pfp-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.blurt-card .pfp-container img{
	border-radius: 50%;
	padding: 10px;
}

.blurt-card .blurt-container-right{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.blurt-card .blurt-body{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.blurt-card .blurt-body .blurt-body-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.blurt-card .blurt-body .blurt-body-header .header-left{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0px 15px;
}

.blurt-card .blurt-body .blurt-body-header .header-left p{
    margin: 0px;
}

.blurt-card .blurt-body .blurt-body-header .header-left .display-name{
    font-weight: bold;
}
.blurt-card .blurt-body .blurt-body-header .header-left .display-name:hover{
	color: rgb(217, 217, 217);
	text-decoration: underline;
}

.blurt-card .blurt-body .blurt-body-header .header-left .username{
    color: rgb(189, 189, 189);
}
.blurt-card .blurt-body .blurt-body-header .header-left .username:hover{
	color: rgb(153, 153, 153);
	text-decoration: underline;
}

.blurt-card .blurt-body .blurt-body-header .header-left .timestamp{
    color: rgb(189, 189, 189);
}

.blurt-card .blurt-body .blurt-body-header .header-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}

.blurt-card .blurt-body .blurt-body-header .header-right .dialog-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50px;
	top: 1px;
	padding: 10px;
	background: rgb(30, 42, 72);
	border-radius: 10px;
	width: 120px;
}

.blurt-card .blurt-body .blurt-body-header .header-right .dialog-box h1{
	margin: 0px;
}

.blurt-card .blurt-body .blurt-body-header .header-right .close{
	display: none;
}

.blurt-card .blurt-body .blurt-body-header .header-right .dialog-box-item{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0 10px;
	font-size: 17px;
}
.blurt-card .blurt-body .blurt-body-header .header-right .dialog-box-item p{
	margin: 0px;
}

.blurt-card .blurt-body .blurt-body-header .header-right .delete{
	color: rgb(213, 11, 11);
}

.blurt-card .blurt-body .blurt-content{
    padding: 5px 0 20px 0;
}
.blurt-card .blurt-body .blurt-content p{ 
    margin: 0px;
    font-size: 18px;
    overflow-wrap: break-word;
}

.blurt-card .blurt-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 15px 0 0px;
}

.blurt-card .blurt-footer .blurt-comment-container{
	color: rgb(142, 142, 142);
}

.blurt-card .blurt-footer .blurt-comment-container:hover{
	color: rgb(191, 191, 191);
}

.blurt-card .blurt-footer .blurt-likes{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0 10px

}

.blurt-card .blurt-footer .blurt-likes:hover{
	color: rgb(192, 57, 43);
}

.blurt-card .blurt-footer .blurt-likes .red{
	color: rgb(192, 57, 43);
}

@media screen and (max-width: 1000px){
	.blurt-card .blurt-body .blurt-body-header .header-right .dialog-box{
		top: 25px;
		left: -115px;
	}
}