/* Styles for BlurtCard.js */
.blurt-card{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px 12px 10px 12px;
	border-top: 2px solid rgb(56, 68, 77);
	border-bottom: 2px solid rgb(56, 68, 77);
	color: white;
	width: auto;
}

.blurt-card:hover{
	background-color: rgb(37, 42, 55);
	cursor: pointer;
	transition: 0.4s;
}

.blurt-card .blurt-container-right{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.blurt-card .blurt-body{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.blurt-card .blurt-body .blurt-body-header{
	display: flex;
	flex-direction: row;
	gap: 0px 20px;
}

.blurt-card .blurt-body .blurt-body-header p{
    margin: 0px;
}

.blurt-card .blurt-body .blurt-body-header .display-name{
    font-weight: bold;
}
.blurt-card .blurt-body .blurt-body-header .display-name:hover{
	color: rgb(217, 217, 217);
	text-decoration: underline;
}

.blurt-card .blurt-body .blurt-body-header .username{
    color: rgb(189, 189, 189);
}
.blurt-card .blurt-body .blurt-body-header .username:hover{
	color: rgb(153, 153, 153);
	text-decoration: underline;
}

.blurt-card .blurt-body .blurt-body-header .timestamp{
    color: rgb(189, 189, 189);
}

.blurt-card .blurt-body .blurt-content{
    padding: 5px 0 20px 0;
}
.blurt-card .blurt-body .blurt-content p{ 
    margin: 0px;
    font-size: 18px;
    overflow-wrap: break-word;
}

.blurt-card .blurt-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 20px 0 10px;
}

.blurt-card .blurt-footer .blurt-comment-container{
	color: rgb(142, 142, 142);
}

.blurt-card .blurt-footer .blurt-comment-container:hover{
	color: rgb(191, 191, 191);
}

.blurt-card .blurt-footer .blurt-likes{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0 10px

}

.blurt-card .blurt-footer .blurt-likes:hover{
	color: rgb(192, 57, 43);
}

.blurt-card .blurt-footer .blurt-likes .red{
	color: rgb(192, 57, 43);
}