/* Styles for BlurtComment.js */
.comment-card{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
		gap: 0px 10px;
	padding: 10px 20px 10px 20px;
	border-top: 2px solid rgb(56, 68, 77);
	border-bottom: 2px solid rgb(56, 68, 77);
	color: white;
}

.comment-card:hover{
	background-color: rgb(37, 42, 55);
	cursor: pointer;
	transition: 0.4s;
}

.comment-card .pfp-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.comment-card .pfp-container img{
	border-radius: 50%;
	padding: 10px;
}

.comment-card .comment-container-right{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.comment-card .comment-container-right .comment-body{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.comment-card .comment-container-right .comment-body .comment-body-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.comment-card .comment-container-right .comment-body .comment-body-header .header-left{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0px 15px;
}
.comment-card .comment-container-right .comment-body .comment-body-header .header-left p{
	margin: 0px;
}

.comment-card .comment-container-right .comment-body .comment-body-header .display-name{
	font-weight: bold;
}
.comment-card .comment-container-right .comment-body .comment-body-header .display-name:hover{
	color: rgb(217, 217, 217);
	text-decoration: underline;
}

.comment-card .comment-container-right .comment-body .comment-body-header .username{
	color: rgb(189, 189, 189);
}
.comment-card .comment-container-right .comment-body .comment-body-header .username:hover{
	color: rgb(153, 153, 153);
	text-decoration: underline;
}

.comment-card .comment-container-right .comment-body .comment-body-header .timestamp{
	color: rgb(189, 189, 189);
}

.comment-card .comment-container-right .comment-body .comment-body-header .header-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}

.comment-card .comment-container-right .comment-body .comment-body-header .header-right .dialog-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50px;
	top: 1px;
	padding: 10px;
	background: rgb(30, 42, 72);
	border-radius: 10px;
	width: 120px;
}
.comment-card .comment-container-right .comment-body .comment-body-header .header-right .dialog-box h1{
	margin: 0px;
}
.comment-card .comment-container-right .comment-body .comment-body-header .header-right .close{
	display: none;
}
.comment-card .comment-container-right .comment-body .comment-body-header .header-right .dialog-box-item{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0 10px;
	font-size: 17px;
}
.comment-card .comment-container-right .comment-body .comment-body-header .header-right .dialog-box-item p{
	margin: 0px;
}
.comment-card .comment-container-right .comment-body .comment-body-header .header-right .delete{
	color: red;
}

.comment-card .comment-container-right .comment-body .comment-content{
	padding: 5px 0 10px 0;
}

.comment-card .comment-container-right .comment-body .comment-content p{
	margin: 0px;
	overflow-wrap: break-word;
}

.comment-card .comment-container-right .comment-footer{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 0 0 0 0;
}

.comment-card .comment-container-right .comment-footer .comment-likes{
	display: flex;
	flex-direction: row;
	gap: 0 15px;
}

.comment-card .comment-container-right .comment-footer .comment-likes:hover{
	color: rgb(192, 57, 43);
}

@media screen and (max-width: 1000px){
	.comment-card .comment-container-right .comment-body .comment-body-header .header-right .dialog-box{
		top: 25px;
		left: -115px;
	}
}