/* Styles for EditProfileForm.js */

.edit-profile-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0px 0px;
	background-color: rgb(29, 43, 73);
	border-radius: 10px;
	width: 400px;
}

.edit-profile-container .header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	padding: 20px;
	background: rgba(5,2,30,0.17);
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.edit-profile-container .header h4{
	margin: 0px
}
.edit-profile-container .header img{
	cursor: pointer;
}

.edit-profile-container .error{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 90%;
	padding: 10px 20px 0px 20px; 
}

.edit-profile-container .error p{
	margin: 0px;
	color: red;
	font-size: 16px;
}

.edit-profile-container .edit-profile-form{
	display: flex;
	flex-direction: column;
	width: 90%;
	padding: 20px 20px 20px 20px;
}

.edit-profile-container .edit-profile-form form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 20px 0px;
}

.edit-profile-container .edit-profile-form form .form-entry{
	display: flex;
	flex-direction: column;
	gap: 10px 0px;
	width: 95%;
}

.edit-profile-container .edit-profile-form form .form-entry label{
	font-size: 18px;
}
.edit-profile-container .edit-profile-form form .form-entry .display-name{
	width: 100%;
	height: 25px;
	outline: none;
	font-size: 16px;
	color: white;
	background-color: rgb(29, 43, 73);
	border: 1px solid white;
	border-radius: 5px;
}

.edit-profile-container .edit-profile-form form .form-entry textarea{
	width: 100%;
	height: 100px;
	outline: none;
	font-size: 16px;
	color: white;
	background-color: rgb(29, 43, 73);
	border: 1px solid white;
	border-radius: 5px;
	resize: none;
}

.edit-profile-container .edit-profile-form form .btn-submit{
	color: white !important;
	background:  rgb(13, 19, 33) !important;
	border-radius: 20px !important;
	padding: 10px 15px !important;
}
.edit-profile-container .edit-profile-form form .btn-submit:hover{
	background: rgba(5,2,30,0.17) !important;
}

@media screen and (max-width: 600px){
	.edit-profile-container{
		width: 85%;
	}
	.edit-profile-container .header{
		width: 85%;
	}
	.edit-profile-container .error{
		width: 85%;
	}
	.edit-profile-container .edit-profile-form{
		width: 85%;
	}
}