/* Styles for PostBlurtForm.js */
.post-blurt-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.post-blurt-container .form{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px 0px;
	width: 100%;
}

.post-blurt-container .form textarea{
	width: 90%;
	height: 35px;
	font-size: 22px;
	color: white;
	background-color: rgb(13, 19, 33);
	outline: none;
	border: none;
	padding: 15px 0px 10px 0px;
	resize: none;
	overflow: hidden;
}

.post-blurt-container .form textarea:focus{
	border-bottom: 2px solid gray;
}

.post-blurt-container .form .footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.post-blurt-container .form .footer .post-blurt-options{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
}
.post-blurt-container .form .footer .post-blurt-options .option-item{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 20px;
}

.post-blurt-container .form .footer .post-blurt-options label{
	cursor: pointer;
}
.post-blurt-container .form .footer .post-blurt-options img{
	padding: 4px;
	border-radius: 50%
}
.post-blurt-container .form .footer .post-blurt-options img:hover{
	background:  rgb(51, 51, 51);
}
.post-blurt-container .form .footer .post-blurt-options input{
	visibility: hidden;
}

.post-blurt-container .form .footer button{
	width: 100px;
	height: 35px;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 16px;
	color: white;
	background: rgb(142, 120, 255);
	cursor: pointer;
}

.post-blurt-container .form .footer button:hover{
	background: rgb(132, 107, 255);
	transition: 0.4s;
}

.post-blurt-container .form .footer .inactive{
	background: rgb(106, 77, 255);
	color: rgb(189, 189, 189);
	cursor: auto;
}

.post-blurt-container .form .footer .inactive:hover{
	background: rgb(106, 77, 255);
	color: rgb(189, 189, 189);
}