/* Styles for PostCommentForm.js */
.post-comment{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.post-comment .form{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0px 20px;
	width: 100%;
}

.post-comment .form input{
	width: 90%;
	height: 25px;
	font-size: 20px;
	color: white;
	background-color: rgb(13, 19, 33);
	outline: none;
	border: none;
	padding: 15px 0px 15px 0px;
}

.post-comment .form input:focus{
	border-bottom: 2px solid gray;
}

.post-comment .form .footer{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.post-comment .form .footer button{
	width: 100px;
	height: 35px;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 16px;
	color: white;
	background: rgb(142, 120, 255);
	cursor: pointer;
}

.post-comment .form .footer button:hover{
	background: rgb(132, 107, 255);
	transition: 0.4s;
}

.post-comment .form .footer .inactive{
	background: rgb(106, 77, 255);
	color: rgb(189, 189, 189);
	cursor: auto;
}

.post-comment .form .footer .inactive:hover{
	background: rgb(106, 77, 255);
	color: rgb(189, 189, 189);
}